html, body, h1, h2, h3, p,
ol, ul, li, a  {
    padding: 0;
    border: 0;
    margin: 0;
}
/* header  {
    
} */
body  {
    background-color: rgb(200, 199, 240);
}
footer 
{
    padding: 10px 10px 10px 10px;
    /* height: auto; */
    background-color: rgb(88, 177, 177);
    text-align: center;
}
.header  {
    background-color: rgb(200, 226, 252);
    padding: 10px 10px 10px 10px;

}
